<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>月记录查看与导出</title>
  </head>
  <body>

    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <ul class="nav navbar-nav">
            <li>
              <a href="#" data-toggle='dropdown'><h4>报表录入</h4><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/Tango_app/gw"><h4>工务日报表</h4></a></li>
                <li><a href="/Tango_app/prd"><h4>制作日报表</h4></a></li>
                <li><a href="/Tango_app/df"><h4>电分日报表</h4></a></li>
                <li><a href="/Tango_app/zj"><h4>质检日报表</h4></a></li>
                <li><a href="/Tango_app/out"><h4>输出日报表</h4></a></li>
                <li><a href="/Tango_app/pagelog"><h4>板材领取表</h4></a></li>
              </ul>

            </li>


            <li>

              <a href="#" data-toggle='dropdown'><h4>系数确定</h4><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/Tango_app/gw/modify"><h4>工务日报系数修改</h4></a></li>
                <li><a href="/Tango_app/prd/modify"><h4>制作日报系数修改</h4></a></li>
                <li><a href="/Tango_app/df/modify"><h4>电分日报系数修改</h4></a></li>
                <li><a href="/Tango_app/zj/modify"><h4>质检日报系数修改</h4></a></li>
                <li><a href="/Tango_app/out/modify"><h4>输出日报确认</h4></a></li>
              </ul>
            </li>

            <li>

              <a href="#" data-toggle='dropdown'><h4>查询与导出</h4><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/Tango_app/report"><h4>月产量</h4></a></li>
                <li><a href="/Tango_app/detilreport"><h4>个人明细产量</h4></a></li>
              </ul>
            </li>

            <!-- <li><a href="#"><h4>报表录入</h4></a></li>
            <li><a href="/Tango_app/gw"><h4>工务日报表</h4></a></li>
            <li><a href="/Tango_app/prd"><h4>制作日报表</h4></a></li>
            <li><a href="/Tango_app/df"><h4>电分日报表</h4></a></li>
            <li><a href="/Tango_app/zj"><h4>质检日报表</h4></a></li>
            <li><a href="/Tango_app/out"><h4>输出日报表</h4></a></li>
            <li><a href="/Tango_app/pagelog"><h4>板材领取表</h4></a></li> -->

          </ul>

        </div>
    </nav>


    <div class="shoices">
      <input class='shoices_radio' type="radio" name="set_type" value="get_gw">工务组
      <input class='shoices_radio' type="radio" name="set_type" value="get_prd">制作组
      <input class='shoices_radio' type="radio" name="set_type" value="get_df">电分组
      <input class='shoices_radio' type="radio" name="set_type" value="get_zj">质检组
      <input class='shoices_radio' type="radio" name="set_type" value="get_out">输出组
    </div>
    <div class="filter">
      <label for="">开始时间</label>
      <input type="text" name="start_time" value="">&nbsp;&nbsp;&nbsp;&nbsp;
      <label for="">截止时间</label>
      <input type="text" name="end_time" value="">
    </div>
  <button type="button" name="serche">查看</button>
  <div class="resulft_show">
    <table id='resulft_table'>

    </table>

  </div>
  </body>
</html>
