<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv='X-UA-Compatible' content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tango_app印前报表</title>
    <link rel="stylesheet" href='{% static "bootstrap-3.3.7-dist/css/bootstrap.css" %}'>
    <script type="text/javascript" src='{% static "JS/jquery-3.2.1.js" %}'>

    </script>
    <script type="text/javascript" src='{% static "bootstrap-3.3.7-dist/js/bootstrap.js" %}'>

    </script>
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <ul class="nav navbar-nav">
            <li>
              <a href="#" data-toggle='dropdown'><h4>报表录入</h4><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/Tango_app/gw"><h4>工务日报表</h4></a></li>
                <li><a href="/Tango_app/prd"><h4>制作日报表</h4></a></li>
                <li><a href="/Tango_app/df"><h4>电分日报表</h4></a></li>
                <li><a href="/Tango_app/zj"><h4>质检日报表</h4></a></li>
                <li><a href="/Tango_app/out"><h4>输出日报表</h4></a></li>
                <li><a href="/Tango_app/pagelog"><h4>板材领取表</h4></a></li>
              </ul>

            </li>


            <li>

              <a href="#" data-toggle='dropdown'><h4>系数确定</h4><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/Tango_app/gw/modify"><h4>工务日报系数修改</h4></a></li>
                <li><a href="/Tango_app/prd/modify"><h4>制作日报系数修改</h4></a></li>
                <li><a href="/Tango_app/df/modify"><h4>电分日报系数修改</h4></a></li>
                <li><a href="/Tango_app/zj/modify"><h4>质检日报系数修改</h4></a></li>
                <li><a href="/Tango_app/out/modify"><h4>输出日报确认</h4></a></li>
              </ul>
            </li>

            <li>

              <a href="#" data-toggle='dropdown'><h4>查询与导出</h4><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/Tango_app/report"><h4>月产量</h4></a></li>
                <li><a href="/Tango_app/detilreport"><h4>个人明细产量</h4></a></li>
              </ul>
            </li>
          </ul>

        </div>

        <div class="col-md-2">
          <br>
          <h4><a href="/Tango_app/KSeters/">权限组</a></h4>

        </div>

        <div class="col-md-2 pull-right">
          <label>当前用户:{{username}}</label>
          <br>
          <label>姓名:{{first_name}}</label>
          <br>
          <a href="/Tango_app/login">退出登录</a>
        </div>
    </nav>


    <!-- <div class="partone">
      <a href="/Tango_app/about"><h4>about</h4></a>
      <a href="/Tango_app/gw"><h4>工务日报表</h4></a>
      <a href="/Tango_app/gw/modify"><h4>工务记录系数修改</h4></a>
      <a href="/Tango_app/prd"><h4>制作日报表</h4></a>
      <a href="/Tango_app/prd/modify"><h4>制作日报表系数修改</h4></a>
      <a href="/Tango_app/df"><h4>电分日报表</h4></a>
      <a href="/Tango_app/df/modify"><h4>电分日报表系数修改</h4></a>
      <a href="/Tango_app/zj"><h4>质检日报表</h4></a>
      <a href="/Tango_app/zj/modify"><h4>质检日报表系数修改</h4></a>
      <a href="/Tango_app/out"><h4>输出日报表</h4></a>
      <a href="/Tango_app/out/modify"><h4>输出日报表确认</h4></a>
      <a href="/Tango_app/pagelog"><h4>板材领取表</h4></a>
    </div> -->


  </body>
</html>
