<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <link rel="stylesheet" href='{% static "bootstrap-3.3.7-dist/css/bootstrap.css" %}'>
    <link rel="stylesheet" href='{% static "bootstrap-table/dist/bootstrap-table.css" %}'>

    <!-- <link rel="stylesheet" href="./css/gw.css"> -->
    <script type="text/javascript" src='{% static "JS/jquery-3.2.1.js" %}'>

    </script>
    <script type="text/javascript" src='{% static "bootstrap-3.3.7-dist/js/bootstrap.js" %}'>

    </script>
    <script type="text/javascript"  src='{% static "bootstrap-table/dist/bootstrap-table.js" %}'>

    </script>
    <!-- 中文支持 -->

    <script type="text/javascript" src='{% static "bootstrap-table/dist/locale/bootstrap-table-zh-CN.js" %}'>

    </script>
    <!-- 支持导出 -->
    <script type="text/javascript" src='{% static "bootstrap-table/dist/extensions/export/bootstrap-table-export.min.js" %}'>

    </script>
    <script type="text/javascript" src='{% static "tableExport.jquery.plugin/tableExport.js" %}' >

    </script>

    <script type="text/javascript" src='{% static "tableExport.jquery.plugin/libs/js-xlsx/xlsx.core.min.js" %}'>

    </script>
<!--   支持行内编辑-->
    <script type="text/javascript" src='{% static "bootstrap3-editable/js/bootstrap-editable.js" %}' >

    </script>
    <script type="text/javascript"  src='{% static "bootstrap-table/dist/extensions/editable/bootstrap-table-editable.js" %}'>

    </script>

    <script type="text/javascript" src='{% static "JS/Ajax.js" %}'>

    </script>
    <script type="text/javascript" src='{% static "JS/output_mdf.js" %}'>

    </script>

    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <ul class="nav navbar-nav">
            <li>
              <a href="#" data-toggle='dropdown'><h4>报表录入</h4><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/Tango_app/gw"><h4>工务日报表</h4></a></li>
                <li><a href="/Tango_app/prd"><h4>制作日报表</h4></a></li>
                <li><a href="/Tango_app/df"><h4>电分日报表</h4></a></li>
                <li><a href="/Tango_app/zj"><h4>质检日报表</h4></a></li>
                <li><a href="/Tango_app/out"><h4>输出日报表</h4></a></li>
                <li><a href="/Tango_app/pagelog"><h4>板材领取表</h4></a></li>
              </ul>

            </li>


            <li>

              <a href="#" data-toggle='dropdown'><h4>系数确定</h4><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/Tango_app/gw/modify"><h4>工务日报系数修改</h4></a></li>
                <li><a href="/Tango_app/prd/modify"><h4>制作日报系数修改</h4></a></li>
                <li><a href="/Tango_app/df/modify"><h4>电分日报系数修改</h4></a></li>
                <li><a href="/Tango_app/zj/modify"><h4>质检日报系数修改</h4></a></li>
                <li><a href="/Tango_app/out/modify"><h4>输出日报确认</h4></a></li>
              </ul>
            </li>

            <li>

              <a href="#" data-toggle='dropdown'><h4>查询与导出</h4><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/Tango_app/report"><h4>月产量</h4></a></li>
                <li><a href="/Tango_app/detilreport"><h4>个人明细产量</h4></a></li>
              </ul>
            </li>

            <!-- <li><a href="#"><h4>报表录入</h4></a></li>
            <li><a href="/Tango_app/gw"><h4>工务日报表</h4></a></li>
            <li><a href="/Tango_app/prd"><h4>制作日报表</h4></a></li>
            <li><a href="/Tango_app/df"><h4>电分日报表</h4></a></li>
            <li><a href="/Tango_app/zj"><h4>质检日报表</h4></a></li>
            <li><a href="/Tango_app/out"><h4>输出日报表</h4></a></li>
            <li><a href="/Tango_app/pagelog"><h4>板材领取表</h4></a></li> -->

          </ul>

        </div>
        <div class="col-md-2 pull-right">
          <label>当前用户:{{username}}</label>
          <br>
          <label>姓名:{{first_name}}</label>
          <br>
          <a href="/Tango_app/login">退出登录</a>
        </div>
    </nav>


      <h2>输出报表系数修改页</h2>
      <a href="/Tango_app"><h4>返回主页</h4></a>

<br>
<br>
<br>
    <button type="button" class='static_btn' name="button" id='get_post'>已过帐</button>
    <button type="button" class='static_btn' name="button" id='get_k_setted'>系数已定</button>
    <button type="button" class='static_btn' name="button" id='get_del'>已删除</button>

    <br>
    <div class="container">

    </div>


    </div>
<!-- <h4>系数已设置</h4> -->
  <div class="df_table">
    <table id="output_table_k" border="1">

    </table>

  </div>

  </body>
</html>
