<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <link rel="stylesheet" href='{% static "bootstrap-3.3.7-dist/css/bootstrap.css" %}'>
    <link rel="stylesheet" href='{% static "bootstrap-table/dist/bootstrap-table.css" %}'>
    <link rel="stylesheet" href='{% static "bootstrap3-editable/css/bootstrap-editable.css" %}'>
    <link rel="stylesheet" href='{% static "bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" %}'>

    <!-- <link rel="stylesheet" href="./css/gw.css"> -->
    <script type="text/javascript" src='{% static "JS/jquery-3.2.1.js" %}'>

    </script>
    <script type="text/javascript" src='{% static "bootstrap-3.3.7-dist/js/bootstrap.js" %}'>

    </script>
    <script type="text/javascript"  src='{% static "bootstrap-table/dist/bootstrap-table.js" %}'>

    </script>
    <script type="text/javascript" src='{% static "JS/momentjs.js" %}'>

    </script>
    <!-- 中文支持 -->
    <!-- <script type="text/javascript"  src='{% static "bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" %}'>

    </script> -->
    <!-- 时间选择器 -->
    <script type="text/javascript"  src='{% static "bootstrap-datetimepicker/js/bootstrap-datetimepicker.js" %}'>

    </script>
    <!-- 中文支持 -->
    <script type="text/javascript"  src='{% static "bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" %}'>

    </script>

    <script type="text/javascript" src='{% static "bootstrap-table/dist/locale/bootstrap-table-zh-CN.js" %}'>

    </script>
    <script type="text/javascript" src='{% static "tableExport.jquery.plugin/tableExport.js" %}'>

    </script>
    <script type="text/javascript" src='{% static "tableExport.jquery.plugin/libs/js-xlsx/xlsx.core.min.js" %}'>

    </script>

    <script type="text/javascript"  src='{% static "bootstrap-table/dist/extensions/export/bootstrap-table-export.js" %}'>

    </script>
    <!-- 支持表格在线编辑 -->

    <script type="text/javascript" src='{% static "bootstrap3-editable/js/bootstrap-editable.js" %}' >

    </script>
    <script type="text/javascript"  src='{% static "bootstrap-table/dist/extensions/editable/bootstrap-table-editable.js" %}'>

    </script>
    <!--  处理Django的CSRF保护-->

    <script type="text/javascript" src='{% static "JS/Ajax.js" %}'>

    </script>
    <script type="text/javascript" src='{% static "JS/pagelog.js" %}'>

    </script>

    <title>输出板材表编辑页</title>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>板材明细</h2>
    <a href="/Tango_app"><h4>返回主页</h4></a>
    <div class="userInfo">
      <label>当前用户:{{username}}</label>
      <br>
      <label>姓名:{{first_name}}</label>
      <br>
      <a href="/Tango_app/login">退出登录</a>
    </div>
    <div class="page_input_Part">
      <form class="" action="" method="post">
      {% csrf_token %}
      {{page_form}}
      <br>
      <button id='sub_btn' type="submit" name="">确认</button>
      <div class="df_show_part">
      <button type="button" id='get_allrecord' name="button">全部记录</button>
      <button type="button" id='get_del' class='get_record' name="button">查看已删除</button>
        <table id='pagelog_table' data-pagination="true" data-search="true" data-toggle="table">

        </table>

      </div>
    </form>
    </div>
  </body>
</html>
